.browseContainer {
    display: flex;

}
.browseInner {
    width: 100%;
    display: flex;
    gap: 2rem;
    
}
.browseBar {
    height: 2rem;
    border: solid 1px #6e849c;
    margin-bottom: 1rem
}

.header {
    background-color: #6e849c;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
  }

/* 
==> BrowseListings  
*/

.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    gap: 6px;
    
}
.sort p {
    margin: 0;
}