.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0 0 0;

  justify-content: flex-end;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.icon {
  justify-self: flex-start;
  width: 70px;
}
.ul {
  font-size: 1rem;
  list-style: none;
  display: flex;
  margin: 16px 0;
  padding: 0;
  
}
.ul a {
  
  padding: 0.5rem 0.5rem;
  transition: 0.3s;
}
.ul li {
  transition: 0.1s;
}
.ul a:hover {
  /* background-color: rgb(113, 173, 241); */
  background-color: #6e849c;
  color: white;
}
.ul li:hover {
  transform: scale(1.1);
}