html,
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(248, 248, 248), rgb(226, 226, 226), rgb(226, 226, 226), rgb(202, 202, 202));
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  
}
.mainContainer {
  margin: 0 2rem;
}
.search-input-div {
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.search-div {

  padding: 5px 0;
  background-color: #6e849c;
  display: flex;
  justify-content: center;

}
.search-input {
  outline-style: none;
  border: none;
  width: 500px;
  font-size: 1rem;
  padding: 5px;
}
.search-SVG {
  cursor: pointer;
}
.sellButton,
.searchButton {
  height: 32px;
  background: none;
  border: solid 1px gray;
  padding: 0 10px;
  font-size: 1rem;
}
.searchButton {
  background: white;
}
.sellButton {
  box-shadow: black 0 0 1px 0;
  cursor: pointer;
  transition: 0.2s;
}
.sellButton:hover {
  /* background-color: rgb(113, 173, 241); */
  background-color: #6e849c;
  color: white;
  border-color: black;

  
}
.sellButton-a {
  margin: auto 0;
}
.searchButton:hover {
  background: rgb(236, 236, 236); 
}
.formButtonOauth {
  border-width: 1px;
  background-color: white;
  width: 100%;
  height: 32px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}
.formButtonOauth:hover {
  box-shadow: rgb(113, 173, 241) 0 0 0 1px;
}
.formButtonText {
  margin: 0;
  padding: 0;
}
.socialIcon {
  margin-right: 10px;
  width: 1.4rem;
  height: 1.4rem;
}
.oauth {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.listingItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  width: 100%;

 
}
.loadingContainer {
  width: 100%;
  text-align: center;
}
/* Browse */
.browse {
  margin: 0 3rem;
  display: flex;
  gap: 2rem;
}
.blueColumn {
  background-color: rgb(113, 173, 241);
  width: 1rem;
}
.blueRow {
  background-color: #6e849c;
  height: 8px;
  width: 100%;
}
.blueRowSmall {
  background-color: rgb(113, 173, 241);
  height: 4px;
  width: 100%;
}


