.container {
  
}

.main {
 
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 21px;
}
  
.rowSwiper {
  max-width: 1114px;
  
  
}
.swiperSlide {
  max-width: 210px;
}
.listingContainer {
  cursor: pointer;
  overflow: hidden;
  border: solid rgb(0, 0, 0) 1px;
  border-radius: 1rem;
  background-color: white;
  max-width: 210px;
  
}
.imgParentDiv {
  overflow: hidden;
}
.imgDiv {
  
  min-width: 210px;
  min-height: 150px;
  max-width: 210px;
  max-height: 150px;
  border-bottom: solid rgb(0, 0, 0) 1px;
  transition: 0.5s;
  
}
.imgDivZoom {
  transform: scale(1.2);
  min-width: 210px;
  min-height: 150px;
  max-width: 210px;
  max-height: 150px;
  border-bottom: solid rgb(0, 0, 0) 1px;
  transition: 0.5s;
  
}

.categoryHeader {
  font-weight: 500;
  margin: 18px 0;
  padding: 0.1rem 1rem;
  
  
}
.imgDetails {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.imageInfo {
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
  padding: 0 0.5rem;
  
  
}
.priceDiv {
  display: flex;
  justify-content: space-between;
}
.imagePrice {
  font-weight: 500;
  color: green;
  margin: 0;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.discount {
  margin: 0;
  padding: 0 0.5rem;
}
.price {
  font-weight: 500;
  color: green;
}
.bottomBlueLine {
  height: 8px;
  background-color:#6e849c;
  transition: background-color 0.2s;
}
.bottomBlueLineOff {
  height: 8px;
  background-color: none;
  transition: background-color 0.5s;
}

.header {
  background-color: #6e849c;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
}
.pageNumbers {
  display: flex;
  gap: 3rem;
  border: solid 1px black;
  padding: 5px 16px;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.numbers {
  text-align: center;
  
}
.nr,
.nrInfo {
  margin: 0;
}
.popularMakes {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 50px; 
  flex-wrap: wrap;
}
.popularMake {
  margin: 0;
  cursor: pointer;
  font-weight: 400;
  transition: 0.1s;
}
.popularMake:hover {
  box-shadow: 0 4px 0px 0 #6e849c;
}
.customDiv {
  margin-bottom: 21px;
  display: flex;
  gap: 1rem;
  position: relative;
}

.buttonNext,
.buttonPrev {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 5px;
  
  border-radius: 0.1rem;
  
}
.buttonPrev {
  border-left: solid 1px #6e849c69;
  padding-left: 8px;
}
.buttonNext {
  border-right: solid 1px #6e849c69;
  padding-right: 8px;

}
.leftArrow {
  transform: rotate(180deg) scale(1.5);
}
.rightArrow {
  transform: scale(1.5);
}
.newGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}