.container {
  
}

.main {
 
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.row {
  display: flex;
  gap: 1rem;
  margin-bottom: 21px;
}
.listingContainer {
  cursor: pointer;
  overflow: hidden;
  border: solid rgb(0, 0, 0) 1px;
  border-radius: 1rem;
  background-color: white;
  
}
.imgDiv {
  
  min-width: 210px;
  min-height: 150px;
  max-width: 210px;
  max-height: 150px;
  border-bottom: solid rgb(0, 0, 0) 1px;
  
  
}

.categoryHeader {
  margin: 18px 0;
  padding: 0.1rem 1rem;
  
}
.imgDetails {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.imageInfo {
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
  padding: 0 0.5rem;
  
  
}
.priceDiv {
  display: flex;
  justify-content: space-between;
}
.imagePrice {
  font-weight: 500;
  color: green;
  margin: 0;
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.discount {
  margin: 0;
  padding: 0 0.5rem;
}
.price {
  font-weight: 500;
  color: green;
}
.bottomBlueLine {
  height: 8px;
  background-color:rgb(113, 173, 241);
}
.topBlueLine {
  height: 8px;
  background-color:rgb(113, 173, 241);
  border-bottom: solid rgb(0, 0, 0) 1px;
}

